{
  "root": true,
  "extends": [
    "@mobilabsolutions/eslint-config/es6.js"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "quote-props": [
      "off",
      "always"
    ],
    "no-sync": "off"
  }
}